body{
    padding: 20px;
    text-align: center;
}
main{
    justify-content: center;
}
input{
    text-align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 60px;
}
small {
    display: block;
}

.nota{
    margin: 50px;
    align-items: flex-start;
}

.modulos label{
    margin-right: 28px;
}

.has label{
    margin-right: 67px;
}

.hect label {
    margin-right: 23px;
}

.encabezado {
    margin-left: 20px;
    width: 30px;
}
.encabezado1 {
    margin-left: 45px;
    width: 30px;
}

.flex{
    display: flex;
}

#botones {
    text-align: center;
}

input[type = 'submit']{
    background-color: green;
    width: 120px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.hide{
    display: none;
}
