body{
    padding: 20px;
    text-align: center;
}
main{
    justify-content: center;
}
input{
    text-align: center;
    margin-left: 10px;
    margin-bottom: 100px;
    width: 60px;
}
small {
    display: block;
}

form {
    margin: 10px;
}

.titulos {
    padding-left: 40px;
}

.nota{
    margin: 50px;
    align-items: flex-start;
}

.modulos label{
    justify-content: left;
    margin-left: 90px;
    margin-right:40px;
}

.lineas-totales label{
    padding-left:80px ;
    padding-right:20px ;
}

.has label{
    padding-left:80px ;
    padding-right:90px ;
}

.hect label {
    padding-left:80px ;
    padding-right:40px ;
}

.margen label {
    padding-left:78px ;
    padding-right:15px ;
}

.encabezado {
    margin-left: 50px;
    width: 30px;
}
.encabezado1 {
    margin-left: 45px;
    width: 30px;
}

.flex{
    display: flex;
}

#botones {
    text-align: center;
}

input[type = 'submit']{
    background-color: green;
    width: 120px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
input[type = 'text']{
    margin-bottom: 5px;
    width: 70px;
}
input[type = 'number']{
    margin-bottom: 5px;
    width: 70px;
}

.hide{
    display: none;
}
